.form-signin{
    max-width: 430px;
    padding: 1rem;
  }
.form-regp{
    max-width: 500px;
    padding: 1rem;
  }
  /* poner imagen de fondo de formulario */
.bg-login{
  background-image: url('../img/fond.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;  
  }

.carousel, .carousel-inner > .item > iphones.jpg
  {
        height: 100px;
  }

  .buscar{
    width: 50px;
  }